/* Codigo css del juego  */

.container {
    width: 100vw;
    height: 100vh;
}

/* Fondo del juego */
body{
    background-image: url(../images/fondo-spiderman.jpg);
    opacity: 0.7;
    background-size: cover;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

table{
    float: left;
    margin-top: 70px;
    width: 70%;
    background-color: aqua;
}

td{
    width: 10%;
    height: 60px;
    background-color: cadetblue;
}
/* Fondo de la celda del cofre */
.cofre{
    object-fit: cover;
    background-position: center;
    background-image: url(../images/cofre.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

/* Fondo de la celda del personaje */

.personaje{
    background-image: url(../images/personaje.png);
    object-fit: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Fondo de la casilla a la que se puede mover el personaje */

.destino{
    background-color: chartreuse;
}

/* Fondo de la casilla que ya ha usado el personaje */
.usada{
    background-color: cadetblue;
    width: 50px;
    height: 50px; 
}

/* Media query del juego cuando el tamaño maximo de pantalla es 700px */

@media only screen and (max-width:700px){
    .container{
        height: 50%;
    }
}